### Started DataFrames

In [2]:
using Pkg
Pkg.installed()
#Pkg.add("DataFrames")

┌ Warning: Pkg.installed() is deprecated
└ @ Pkg C:\Users\paulo\AppData\Local\Programs\Julia-1.11.4\share\julia\stdlib\v1.11\Pkg\src\Pkg.jl:787

Dict{String, VersionNumber} with 12 entries:
  "CSV"               => v"0.10.15"
  "Statistics"        => v"1.11.1"
  "MLJ"               => v"0.20.7"
  "Random"            => v"1.11.0"
  "LinearAlgebra"     => v"1.11.0"
  "MultivariateStats" => v"0.10.3"
  "IJulia"            => v"1.26.0"
  "Plots"             => v"1.40.11"
  "RDatasets"         => v"0.7.7"
  "Clustering"        => v"0.15.8"
  "DataFrames"        => v"1.7.0"
  "GLM"               => v"1.9.0"

In [3]:
using DataFrames

In [9]:
DataFrame()
DataFrame(A = 1:4, B = rand(4))

4×2 DataFrame
 Row │ A      B
     │ Int64  Float64
─────┼──────────────────
   1 │     1  0.9406
   2 │     2  0.0943858
   3 │     3  0.531874
   4 │     4  0.419527

In [10]:
X1 = DataFrame(rand(10,3), :auto)
Matrix(X1)

10×3 Matrix{Float64}:
 0.0869154  0.514042   0.349224
 0.134079   0.286804   0.0273273
 0.667195   0.235752   0.859391
 0.818773   0.742886   0.589963
 0.200678   0.0566943  0.345375
 0.872902   0.997618   0.742254
 0.424343   0.897329   0.67028
 0.422392   0.583593   0.971045
 0.977787   0.581281   0.788591
 0.445868   0.301259   0.293439

In [11]:
using Pkg
Pkg.add("Tables")

   Resolving package versions...
    Updating `C:\Users\paulo\.julia\environments\v1.11\Project.toml`
  [bd369af6] + Tables v1.12.0
  No Changes to `C:\Users\paulo\.julia\environments\v1.11\Manifest.toml`

In [12]:
tb = Tables.columntable(X1)

(x1 = [0.08691536502039021, 0.1340788281612112, 0.6671949541368052, 0.8187725696712459, 0.20067767695784255, 0.8729022081186459, 0.4243429026665534, 0.42239200911724384, 0.9777874804762027, 0.4458677018646583], x2 = [0.5140422934969429, 0.28680421980892046, 0.235752300835549, 0.7428861973876286, 0.05669426556866208, 0.9976182884487169, 0.897328907013742, 0.5835933497363465, 0.5812805722991988, 0.30125943407629474], x3 = [0.3492238298180489, 0.02732726396766194, 0.85939120355714, 0.5899634863674548, 0.34537479313432573, 0.7422538142666747, 0.670279584261294, 0.9710450770341974, 0.788591249060641, 0.29343872680554506])

In [13]:
typeof(tb)

@NamedTuple{x1::Vector{Float64}, x2::Vector{Float64}, x3::Vector{Float64}}

In [14]:
tb.x1

10-element Vector{Float64}:
 0.08691536502039021
 0.1340788281612112
 0.6671949541368052
 0.8187725696712459
 0.20067767695784255
 0.8729022081186459
 0.4243429026665534
 0.42239200911724384
 0.9777874804762027
 0.4458677018646583

In [15]:
tb.x2

10-element Vector{Float64}:
 0.5140422934969429
 0.28680421980892046
 0.235752300835549
 0.7428861973876286
 0.05669426556866208
 0.9976182884487169
 0.897328907013742
 0.5835933497363465
 0.5812805722991988
 0.30125943407629474

In [16]:
tb.x3

10-element Vector{Float64}:
 0.3492238298180489
 0.02732726396766194
 0.85939120355714
 0.5899634863674548
 0.34537479313432573
 0.7422538142666747
 0.670279584261294
 0.9710450770341974
 0.788591249060641
 0.29343872680554506

### More About DataFrames

In [18]:
typeof(X1)

DataFrame

In [25]:
names(X1)
size(X1)
size(X1, 1)
size(X1, 2)
nrow(X1)
ncol(X1)
describe(X1)

3×7 DataFrame
 Row │ variable  mean      min        median    max       nmissing  eltype
     │ Symbol    Float64   Float64    Float64   Float64   Int64     DataType
─────┼───────────────────────────────────────────────────────────────────────
   1 │ x1        0.505093  0.0869154  0.435105  0.977787         0  Float64
   2 │ x2        0.519726  0.0566943  0.547661  0.997618         0  Float64
   3 │ x3        0.563689  0.0273273  0.630122  0.971045         0  Float64

In [30]:
describe(X1).mean
describe(X1).min
describe(X1).median
describe(X1).max
describe(X1).nmissing

3-element Vector{Int64}:
 0
 0
 0

In [34]:
first(X1)
first(X1, 5)
last(X1)
last(X1, 5)

5×3 DataFrame
 Row │ x1        x2        x3
     │ Float64   Float64   Float64
─────┼──────────────────────────────
   1 │ 0.872902  0.997618  0.742254
   2 │ 0.424343  0.897329  0.67028
   3 │ 0.422392  0.583593  0.971045
   4 │ 0.977787  0.581281  0.788591
   5 │ 0.445868  0.301259  0.293439

In [40]:
X1
X1[1:7, 1:2]
X1[1:7, :]
X1[:, 2]

10-element Vector{Float64}:
 0.5140422934969429
 0.28680421980892046
 0.235752300835549
 0.7428861973876286
 0.05669426556866208
 0.9976182884487169
 0.897328907013742
 0.5835933497363465
 0.5812805722991988
 0.30125943407629474

### Reading and Writing DataFrames

In [41]:
using DataFrames
df = DataFrame(A=[true, false, true], B=[23, 45, 67], C=['a', 'c', 'b'])

3×3 DataFrame
 Row │ A      B      C
     │ Bool   Int64  Char
─────┼────────────────────
   1 │  true     23  a
   2 │ false     45  c
   3 │  true     67  b

In [44]:
using CSV
CSV.write("df.csv", df)
new_df = CSV.read("df.csv", DataFrame)

3×3 DataFrame
 Row │ A      B      C
     │ Bool   Int64  String1
─────┼───────────────────────
   1 │  true     23  a
   2 │ false     45  c
   3 │  true     67  b

### Operations in DataFrames

In [46]:
M1 = DataFrame(rand(5,4), :auto)

5×4 DataFrame
 Row │ x1         x2         x3        x4
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.248423   0.370266   0.137229  0.8012
   2 │ 0.69518    0.0666985  0.283442  0.858479
   3 │ 0.0176431  0.877263   0.296266  0.518864
   4 │ 0.265432   0.0672491  0.75037   0.205016
   5 │ 0.0572735  0.314921   0.572281  0.164314

In [50]:
names(M1)
rename(M1, "x1" => "c1")
rename(M1, ["c1", "c2", "c3", "c4"])

5×4 DataFrame
 Row │ c1         c2         c3        c4
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.248423   0.370266   0.137229  0.8012
   2 │ 0.69518    0.0666985  0.283442  0.858479
   3 │ 0.0176431  0.877263   0.296266  0.518864
   4 │ 0.265432   0.0672491  0.75037   0.205016
   5 │ 0.0572735  0.314921   0.572281  0.164314

In [51]:
M2 = DataFrame(rand(5,4), :auto)

5×4 DataFrame
 Row │ x1        x2        x3         x4
     │ Float64   Float64   Float64    Float64
─────┼──────────────────────────────────────────
   1 │ 0.923206  0.258808  0.295472   0.16481
   2 │ 0.780849  0.430128  0.624477   0.0174733
   3 │ 0.587511  0.402937  0.0169228  0.90451
   4 │ 0.121061  0.472527  0.193882   0.158289
   5 │ 0.486465  0.532469  0.636077   0.189053

In [53]:
hcat(M1, M2, makeunique=true )

5×8 DataFrame
 Row │ x1         x2         x3        x4        x1_1      x2_1      x3_1      ⋯
     │ Float64    Float64    Float64   Float64   Float64   Float64   Float64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0.248423   0.370266   0.137229  0.8012    0.923206  0.258808  0.295472  ⋯
   2 │ 0.69518    0.0666985  0.283442  0.858479  0.780849  0.430128  0.624477
   3 │ 0.0176431  0.877263   0.296266  0.518864  0.587511  0.402937  0.0169228
   4 │ 0.265432   0.0672491  0.75037   0.205016  0.121061  0.472527  0.193882
   5 │ 0.0572735  0.314921   0.572281  0.164314  0.486465  0.532469  0.636077  ⋯
                                                                1 column omitted

In [54]:
vcat(M1, M2)

10×4 DataFrame
 Row │ x1         x2         x3         x4
     │ Float64    Float64    Float64    Float64
─────┼────────────────────────────────────────────
   1 │ 0.248423   0.370266   0.137229   0.8012
   2 │ 0.69518    0.0666985  0.283442   0.858479
   3 │ 0.0176431  0.877263   0.296266   0.518864
   4 │ 0.265432   0.0672491  0.75037    0.205016
   5 │ 0.0572735  0.314921   0.572281   0.164314
   6 │ 0.923206   0.258808   0.295472   0.16481
   7 │ 0.780849   0.430128   0.624477   0.0174733
   8 │ 0.587511   0.402937   0.0169228  0.90451
   9 │ 0.121061   0.472527   0.193882   0.158289
  10 │ 0.486465   0.532469   0.636077   0.189053

In [55]:
[M1 DataFrame(A=[1, 2, 3, 4, 5])]

5×5 DataFrame
 Row │ x1         x2         x3        x4        A
     │ Float64    Float64    Float64   Float64   Int64
─────┼─────────────────────────────────────────────────
   1 │ 0.248423   0.370266   0.137229  0.8012        1
   2 │ 0.69518    0.0666985  0.283442  0.858479      2
   3 │ 0.0176431  0.877263   0.296266  0.518864      3
   4 │ 0.265432   0.0672491  0.75037   0.205016      4
   5 │ 0.0572735  0.314921   0.572281  0.164314      5